@import '@/styles/vars.less';

.hero {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 700px;
    background-color: @color-beige;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 160px;
        padding-left: 20px;
        padding-right: 20px;
    }

    &__background_left {
        position: absolute;
        z-index: 3;
        left: -55px;
        top: 50%;
        transform: translateY(-50%);
        max-width: 200px;
        width: 100%;
    }

    &__background_right {
        position: absolute;
        z-index: 3;
        right: 90px;
        bottom: 50px;
        max-width: 155px;
        width: 100%;
    }

    &__content {
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 1240px;
        width: 100%;
        height: 300px;
    }

    &__title_left {
        display: flex;
        align-items: start;
    }

    &__title_left-line {
        width: 88px;
        height: 3px;
        background-color: @color-orange;
        margin-top: 30px;
    }

    &__title_left-text {
        max-width: 473px;
        color: @color-black;
        margin-left: 25px;
    }

    &__title_right {
        display: flex;
        align-items: start;
        align-self: flex-end;
    }

    &__title_right-line {
        width: 88px;
        height: 3px;
        background-color: @color-black;
        margin-top: 30px;
    }

    &__title_right-text {
        max-width: 490px;
        color: @color-orange;
        margin-right: 25px;
    }

    &__title-text {
        font-weight: 300;
        font-size: 48px;
        font-variant: small-caps;
    }

    &__icon {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 50px;
        width: 100%;
        cursor: pointer;
    }

    // Animation

    &__title_left {
        animation-name: slide-from-bottom;
        animation-duration: 0.4s;
        animation-delay: 0s;
        animation-timing-function: ease;
        animation-fill-mode: both;
    }

    &__title_right {
        animation-name: slide-from-bottom;
        animation-duration: 0.4s;
        animation-delay: 3s;
        animation-timing-function: ease;
        animation-fill-mode: both;
    }

    &__background_left {
        animation-name: slide-from-bottom-left;
        animation-duration: 1s;
        animation-delay: 0.2s;
        animation-timing-function: ease;
        animation-fill-mode: both;
    }

    &__background_left-img {
        animation-name: rotate;
        animation-duration: 3.5s;
        animation-delay: 1.2s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
    }

    &__background_right {
        animation-name: slide-from-bottom-right;
        animation-duration: 1s;
        animation-delay: 0.2s;
        animation-timing-function: ease;
        animation-fill-mode: both;
    }

    &__background_right-img {
        animation-name: pulse;
        animation-duration: 2.5s;
        animation-delay: 1.2s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
    }

    &__icon {
        animation-name: move-hero-button;
        animation-duration: 5s;
        animation-delay: 0.2s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
    }

    @keyframes slide-from-bottom-left {
        0% {
            opacity: 0;
            transform: translate(-20px, 10px);
        }

        30% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }

    @keyframes slide-from-bottom-right {
        0% {
            opacity: 0;
            transform: translate(20px, 10px);
        }

        30% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }

    @keyframes slide-from-bottom {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        30% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        40% {
            transform: rotate(3deg);
        }

        60% {
            transform: rotate(-3deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes move-hero-button {
        0% {
        transform: translateY(0);
        }

        5% {
        transform: translateY(20px);
        }

        10% {
        transform: translateY(0);
        }

        15% {
        transform: translateY(20px);
        }

        20% {
        transform: translateY(0);
        }

        100% {
        transform: translateY(0);
        }
    }
}